.signupbtn {
    align-self: center;
    background-color: rgb(102, 53, 0, 0.5);
    border-color: rgb(102, 53, 0, 0.5);
    border-radius: 10%;
    display: block;
    margin: auto;
    width: 30%;
}

.signupbtn:hover {
    opacity: 0.8;
    border-color: rgb(102, 53, 0, 0.5);
    cursor: pointer;
    background-color: whitesmoke;
    color: rgb(102, 53, 0);
}

/* not sure how to active these 2 */
.signupbtn:hover:active {
    background-color: whitesmoke !important;
    color: rgb(102, 53, 0);
  }
  
.signupbtn:active {
    background-color: whitesmoke !important;
    color: rgb(102, 53, 0);
  }
  /*   --------------------         */

.postbtn {
    font-size: 1rem;
    text-align: center;
    align-self: center;
    border-radius: 10%;
    background-color: rgb(102, 53, 0, 0.5);
    border-color: rgb(102, 53, 0, 0.5);
    padding: 4px 10px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 85px;
  }

.SideFollowBtn {
  font-size: 0.8rem;
  position: absolute;
  right: 10%;
  margin-bottom: 100px;
  border-color: transparent;
  font-family: Merriweather, sans-serif;
  min-width: 84px;
  background-color: rgb(102, 53, 0, 0.5);
}

.SideFollowBtn:hover {
  opacity: 0.8;
  border-color: rgb(102, 53, 0, 0.5);
  cursor: pointer;
  background-color: whitesmoke;
  color: rgb(102, 53, 0);
}

.SideUnfollowBtn {
  font-size: 0.8rem;
  position: absolute;
  right: 10%;
  margin-bottom: 100px;
  border-color: rgb(102, 53, 0, 0.5);
  color: rgb(102, 53, 0, 0.5);
  font-family: Merriweather, sans-serif;
  min-width: 75px;
  background-color: whitesmoke;
}

.SideUnfollowBtn:hover {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  background-color: rgb(102, 53, 0, 0.5);
}

.AlignedProfileBtns {
  margin-bottom: 20px;
}