.signupbtn {
    align-self: center;
    background-color: rgb(102, 53, 0, 0.5);
    border-color: rgb(102, 53, 0, 0.5);
    border-radius: 10%;
    display: block;
    margin: auto;
    width: 30%;
}

.signupbtn:hover {
    opacity: 0.8;
    border-color: rgb(102, 53, 0, 0.5);
    cursor: pointer;
    background-color: whitesmoke;
    color: rgb(102, 53, 0);
}

/* not sure how to active these 2 */
.signupbtn:hover:active {
    background-color: whitesmoke !important;
    color: rgb(102, 53, 0);
  }
  
.signupbtn:active {
    background-color: whitesmoke !important;
    color: rgb(102, 53, 0);
  }
  /*   --------------------         */

.postbtn {
    font-size: 1rem;
    text-align: center;
    align-self: center;
    border-radius: 10%;
    background-color: rgb(102, 53, 0, 0.5);
    border-color: rgb(102, 53, 0, 0.5);
    padding: 4px 10px;
    margin-left: 5px;
    margin-right: 5px;
    min-width: 85px;
  }