

.Container {
    min-height: 343px;
    margin-top: 100px;
    background-color: rgb(242, 242, 242, 0.7);
    font-family: Merriweather, sans-serif;
    color: #737373;
    padding-bottom: 20px;
}

.btnContainer {
    margin-top: 100px;
    min-height: 85px;
    border: 2px solid black;
    padding-top: 20px;
}

.imgupload {
    margin-top: 25px;
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

.postcontainer {
    margin-top: 71px;
    min-height: 343px;
}

.post {
    background-color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
    border: transparent;
  }

.searchicon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }

.SearchBar input {
    border-radius: 20px;
    color: #4d2600;
    padding-left: 40px;
    margin-bottom: 16px;
  }

.CommentForm {
    border: none;
    border-bottom: 2px #00d1ff solid;
  }
  
.CommentButton {
    border: none;
    background-color: #242a3d;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
.CommentButton:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
  }

.CommentOwner {
    font-weight: bold;
    color: #2142b2;
    margin-right: 8px;
  }
  
.CommentDate {
    font-weight: lighter;
    color: #c1c1c5;
  }

.Heart {
  color: rosybrown;
}

.Heart:hover {
  color: rosybrown;
}

.NoResultsPic {
  width: 20px;
}

.greyed {
  background-color: whitesmoke;
}