

.Container {
    min-height: 343px;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 3%;
    margin-top: 100px;
    background-color: rgb(242, 242, 242, 0.7);
    font-family: Merriweather, sans-serif;
    color: #737373;
    padding-bottom: 20px;
}

.btnContainer {
    margin-top: 100px;
    min-height: 85px;
    border: 2px solid black;
    padding-top: 20px;
}

.imgupload {
    margin-top: 25px;
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}