.WordBreak {
    word-break: break-all;
    position: relative;
    letter-spacing: 1px;
    font-size: large;
    color: #666463;
  }

.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
  }

.Row {
  margin-top: 73px;
}

.ProfilesBox {
  background-color: white;
  margin-top: 55px;
}

.FollowerLine {
  position: absolute;
  margin-top: 33px;
  padding-left: 79px;
  color: rgb(102, 53, 0, 0.6);
  font-family: Playwrite GB S, sans-serif;
  font-size: smaller;
}

.Padding {
  padding-top: 15px;
}

.SideProfileTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 10px;
  font-family: Arsenal SC, sans-serif;
  letter-spacing: 1px;
  color: #666463;
}

.PostHeader {
  text-align: center;
  background-color: white;
  letter-spacing: 3px;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 5px 10px rgb(	188, 143, 143, 0.4);
}

.BioHeader {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: medium;
  padding-top: 20px;
}

.bio {
  font-family: Playwrite GB S, sans-serif;
}

.Email {
  margin-top: 15px;
  letter-spacing: 1px;
  color: #666463;
  border: 1px solid rgb(	188, 143, 143, 0.4);
  border-radius: 5%;
  background-color: white;
}

@media screen and (max-width: 991px) {
    .ProfileImage {
      width: 250px;
      height: 250px;
    }

    .pushed {
      margin-top: 110px;
    }
  }