.header {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 70px;
    text-align: center;
    padding-bottom: 20px;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    padding-top: 15px;
    color: whitesmoke;
  }

.Link:hover {
    color: rgb(102, 53, 0);
}

.input {
    text-align: center;
    padding: 10px;
    font-family: Merriweather, sans-serif;
}

.background {
    height: 100vh;
    margin-top: 30px;
    margin-bottom: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
}

.signinhead {
    margin-top: 70px;
    padding-top: 65px;
}

.signincontainer {
    margin-left: 60%;
    width: 80%;
    margin-top: 15%;
    background-color: rgb(51, 51, 51, 0.2);
    color: whitesmoke;
}

/*Mobile Media Query*/

@media only screen and (max-width: 767px) {
    .signincontainer {
        margin-left: auto;
    }
}

@media only screen and (max-width: 1250px) {
    .signincontainer {
        width: 90%;
    }
}

@media only screen and (max-width: 430px) {
    .signincontainer {
        width: 80%;
    }
}