.header {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 70px;
    text-align: center;
    padding-bottom: 20px;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
  }

.input {
    text-align: center;
    padding: 10px;
}